@model DocumentTracking.Models.FileType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="bgc-white p-20 bd">
    <h2>Details</h2>

    <div>
        <h4>FileType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FileTypeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>