@model IEnumerable<DocumentTracking.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<h2>Activate User</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Activate", "UserActivations", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
