@{
    
}

@model DocumentTracking.Models.ForgotPasswordViewModel
@{
     ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid" style="background-color: gainsboro;">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="login-content card">
                        <div class="login-form">
                            <div class="text-center">
                                <img src="~/Content/elaadmin/images/loginLogo.png" width="64" height="64" />
                                <h2><strong>DOCUMENT MANAGEMENT SYSTEM</strong></h2>
                            </div>
                            <h4><strong>@ViewBag.Title</strong></h4>
                        </div>
                        <div class="text-center">
                            <p>
                                <h3>Your password has been reset.</h3><br /> Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>

                </div>


                <br />
            </div>
        </div>
    </div>
</div>


